@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.introduction{
  background-image: url(../assets/backgrounds/h_img.jpg);
background-position: center;
background-size: cover;
text-align: center;
color: white;
padding: 18%;
}
.mouse-click{
 padding-top: 20px;
}
#mouse-click {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,20%,50%,80%,100%{
    transform:translateY(0);
  }
  40%{
    transform: translateY(-55px);
  }
  60%{
    transform: translateY(-45px);
  }
}
.about {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
  font-family: "sans-serif" monospace;
}
.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
color: white;
  padding: 10%;
}
.what-we-do{
  text-align: center;
  padding-top: 40px;
}
what-we-do .main-heading{
  padding-bottom: 40px;
}
.main-heading{
  text-align: center;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 18%;
  margin-right: 16%;
}
  .col-md-3 img{
max-width: 100%;
max-height: 100%;
  }
  .ptag{
         border: 1px solid white;
    width: 500px;
    height: 150px;
  }

.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-position:center center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  color: white;

}

.center{
  text-align: center;
  margin-top: 20px;
}
.sub-heading {
  padding: 6px;
  text-align: center;

}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Copse', serif;
}

.form-control::-webkit-input-placeholder { 
  color: white; 
}
#NAME1{
  width: 30%;
  margin-left: 18%;
  margin-right: 30px;
}
#NAME2{
  width: 30%;
}
#comment{
  margin-left: 20%;
  width: 60%;
}
button{
  margin-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
#product, #development, #design{
  display: none;
  font-family: 'Copse', serif;
  font-size: 16px;
}
#product .title, #development .title, #design .title{
  font-size: 20px;
  font-weight: 600;
}
#overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
  display: none;
  margin: 2px;
  margin-left: 20px;
  width: 100%;
  height: auto;
  border-style: solid 1px white;
  color: white;
  position:absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 10%;
  font-family: 'Delius Swash Caps', cursive;
}
@media only screen and (max-width: 755px){
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay6{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 30%;
  
  }
  .col-md-3 img{
    width:100%;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    margin-left: 2%;
    padding-bottom: 30px;
    margin-bottom: 20px;
   
  }
}
@media only screen and (max-width: 425px){
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    font-size: 20px;
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%; 
  }
  button{
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  #NAME2{
    width: 84%;
    margin-left: 4%;
    padding-bottom: 10px;
  }
  #NAME1{
    width: 100%;
    margin-left: 4%;
    margin-bottom: 20px;
  }
  #comment{
    margin-left: 4%;
    width: 84%;
  }
}
@media only screen and (min-width: 825px){
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:30%; 
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:10%;
    margin-right: 10%; 
  }
}
@media only screen and (min-width: 625px){
  #overlay,#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    padding-top:20%; 
    font-size: 26px;
  }
  .col-md-3 img{
    width: 400px;
    margin: 20px;
  }
  #portfolio{
    margin-left:6%;
    margin-right: 10%; 
  }
}

